name: Cargo Build & Test

on:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    name: Rust project - latest
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - stable
          - beta
          - nightly
    steps:
      - uses: actions/checkout@v4
      - name: 打印文件所在路径
        run: pwd
      - name: 测试输出内容${{ matrix.toolchain }}
        run: echo complie tool ${{ matrix.toolchain }}

      - name: 更新工具链
        run: rustup update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - name: 构建项目
        run: cargo build --verbose
